{% extends 'config_base.html' %}
{% block content %}
<h1>{{name}} Form</h1>
<pre>
The cached data reader is more complex than regular items and as such the form layout is slightly different.
As you need to, add KV pairs for the subcription list of dicts.
</pre>
<hr>
<form method="post">
    <div style="display: flex; width:100%; gap: 10px; flex-direction: row;">

        <div style="display: flex;  gap: 10px; flex-direction: column;">

            <table class="table-bordered">
                {% csrf_token %}

                {{form.as_table}}
            </table>

            {% for f in formsets %}

            <h4>{{f.name}}:</h4>

            <table id="{{f.name}}-formset-container">
                <tr>
                    {{ f.formset.management_form }}
                </tr>
                <tbody id="formset-{{f.name}}" style=" border: 1px solid black;">
                    {% for subform in f.formset %}
                    <tr class="subform-{{f.name}}" id="formset-{{f.name}}-{{forloop.counter0}}">
                        <td>
                            <table>
                                {% for field in subform.visible_fields %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <td>
                                        {{ field.errors }}
                                        {{ field }}
                                        {{ field.help_text }}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% for field in subform.hidden_fields %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <td>
                                        {{ field.errors }}
                                        {{ field }}
                                        {{ field.help_text }}
                                    </td>
                                </tr>
                                {% endfor %}

                            </table>
                        </td>

                    </tr>
                    {% endfor %}

                </tbody>

                {% endfor %}
                <tfoot>
                    <tr>
                        <td>


                        </td>
                    </tr>
                </tfoot>
            </table>




        </div>


        <div>
            <button type="save">Submit to render</button>
        </div>


    </div>
</form>
<hr>

<div style="display: flex; width:100%; gap: 10px; flex-direction: row; flex-wrap: wrap;">
    <div>
        YAML<br>
        <textarea cols="80" rows="20">{{yaml_object}}</textarea>
    </div>
    <div>
        JSON<br>
        <textarea cols="80" rows="20">{{json_object}}</textarea>
    </div>

</div>



</body>


{% endblock %}