{% extends 'config_base.html' %}
{% block content %}
<h1>Config Objects Created</h1>

<h3>Newest First</h3>
<ul>
    <li>Note, the underlying storage of objects is in JSON. The conversion to YAML is just for humans.</li>
    <li>When you selete a object via its' ID you're editing that object. </li>
    <li>There's not history yet </li>

</ul>
<hr>
<hr>
<table class=" table-bordered">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>CLASS_NAME</th>
        <th>JSON_OBJECT</th>
        <th>CREATION_TIME</th>
        <th>DELETE</th>
    </tr>
    {%for c in config_objects %}


    <tr>
        <td><a href="{% url 'config_library:config' class_name=c.class_name id=c.id %}">{{c.id}}</a></td>
        <td>{{c.name}}</td>
        <td>{{c.description}}</td>
        <td>{{c.class_name}}</td>
        <td>
            <details>
                <summary>json</summary>
                <textarea cols=" 60" rows="10">{{c.json_object}}</textarea>
            </details>
        </td>

        <td>{{c.creation_time}}</td>
        <td>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" value="{{ c.id }}">
                <button type="submit">Delete this object</button>
            </form>
        </td>
    </tr>

    {%endfor%}
</table>
{% endblock %}