<!DOCTYPE html>
<html>


<head>
    <style>
        .table-bordered {
            border-collapse: collapse;
            border: 1px solid black;
        }

        .table-bordered td,
        .table-bordered th {
            border: 1px solid black;
            padding: 2px;
        }
    </style>

</head>

<body>

    <div style="flex-direction: row; display: flex;">
        <div style="align-self:baseline">
            <a href="{% url 'config_library:index' %}">Index</a>

        </div>
        <div>
            <h1 style="color:white">Open RVDAS Config Library</h1>
        </div>
    </div>

    <div>
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>