{% extends 'config_base.html' %}
{% block content %}
<h1>Config Library Home</h1>
<ol>
    <li><a href=" {% url 'config_library:library' %}">Library</a></li>

    <li><a href=" {% url 'config_library:rvdas_config_objects' %}">rvdas_config_objects</a></li>
</ol>



<h2>Configure a Reader</h2>
<ul>

    <li><a href=" {% url 'config_library:cached_data_reader'  %}">cached_data_reader</a></li>


    <li><a href=" {% url 'config_library:config' class_name='DatabaseReader' %}">DatabaseReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='LogFileReader' %}">LogFileReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='ModbusReader' %}">ModbusReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='MqttReader' %}">MqttReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='PolledSerialReader' %}">PolledSerialReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='RedisReader' %}">RedisReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='SerialReader' %}">SerialReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='TcpReader' %}">TcpReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='TextFileReader' %}">TextFileReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='TimeoutReader' %}">TimeoutReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='UdpReader' %}">UdpReader</a></li>
    <li><a href=" {% url 'config_library:config' class_name='WebsocketReader' %}">WebsocketReader</a></li>
</ul>

<h2>Configure a Transform</h2>
<ul>
    <li><a href=" {% url 'config_library:config' class_name='CountTransform' %}">CountTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='DeltaTransform' %}">DeltaTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='ExtractFieldTransform' %}">ExtractFieldTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='FormatTransform' %}">FormatTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='FromJsonTransform' %}">FromJsonTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='GeofenceTransform' %}">GeofenceTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='MaxMinTransform' %}">MaxMinTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='ParseNmeaTransform' %}">ParseNmeaTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='ParseTransform' %}">ParseTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='PrefixTransform' %}">PrefixTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='QcFilterTransform' %}">QcFilterTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='RegexFilterTransform' %}">RegexFilterTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='RegexReplaceTransform' %}">RegexReplaceTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='SliceTransform' %}">SliceTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='SplitTransform' %}">SplitTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='StripTransform' %}">StripTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='TimestampTransform' %}">TimestampTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='ToDasRecordTransform' %}">ToDasRecordTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='ToJsonTransform' %}">ToJsonTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='UniqueTransform' %}">UniqueTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='ValueFilterTransform' %}">ValueFilterTransform</a></li>
    <li><a href=" {% url 'config_library:config' class_name='XmlAggregatorTransform' %}">XmlAggregatorTransform</a></li>
</ul>
{% endblock %}