{% extends 'config_base.html' %}
{% block content %}
<h1>{{name }} builder Form</h1>
<pre>
Note: This form represents the full options available for a reader. 
None/Null values will be omitted from the generated json/yaml.
</pre>
<hr>
<div style="display: flex; width:100%; gap: 10px; flex-direction: column;">
    <div style="display: flex; width:100%; gap: 10px; flex-direction: row;">
        <form method="post">
            <div style="display: flex; flex-direction: row; gap: 30px;">

                <div>


                    <table class="table-bordered">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}

                            </td>
                        </tr>

                        {%endfor%}

                    </table>


                </div>
                <div>
                    <input type="hidden" name="_method" value="PATCH">
                    <button type="submit">Submit to Preview</button>

                </div>
        </form>
    </div>
    <div>
        {% if post_form %} <form method="post">


            <div style="display: flex; flex-direction: row; gap: 30px;">

                <div>
                    <table class="table-bordered">
                        {% csrf_token %}
                        {% for field in post_form.visible_fields %}
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}

                            </td>
                        </tr>

                        {%endfor%}

                    </table>
                </div>
                <div>


                    <button type="submit">Save</button>
                </div>

            </div>
        </form>
        {%endif%}
    </div>
</div>

<div style="display: flex; width:100%; gap: 10px; flex-direction: row; flex-wrap: wrap;">
    <div>
        YAML<br>
        <textarea cols="80" rows="20">{{yaml_object}}</textarea>
    </div>
    <div>
        JSON<br>
        <textarea cols="80" rows="20">{{json_object}}</textarea>
    </div>

</div>




</body>


{% endblock %}