{% extends 'config_base.html' %}
{% block content %}
<h1>Transforms, that exist</h1>
<hr>
<table>

    <tr>
        <td>Transform ID</td>
        <td>Name </td>
        <td>Description </td>
    </tr>
    {% for t in all_transforms %}
    <tr>

        <td>{{t.transform_id}}</td>
        <td>{{t.name}}</td>
        <td>{{t.description}}</td>
        <td><a href="{% url 'config_library:create_update_transform' transform_id=t.transform_id %}">edit this transform</a></td>
    </tr>
    {%endfor%}


</table>
{% endblock %}