{% extends 'config_base.html' %}
{% block content %}
<h1>Transform Form</h1>
<hr>
<form method="post" id="transform-form">
    <table>
        {% csrf_token %}

        <tr>

        </tr>
        <tr>
            <td>name</td>
            <td>{{form.name}}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{form.description}}</td>
        </tr>


        <div id="formset-container">
            {{ formset.management_form }}
            <tbody id="formset">
                <tr>
                    <td></td>
                    <td>KEY</td>
                    <td>VALUE</td>
                    <td>TYPE</td>
                    <td>DELETE</td>
                    <td></td>
                </tr>
                {% for subform in formset %}
                <tr class="subform">
                    <td>{{subform.kv_id}}</td>
                    <td>{{subform.key}}</td>
                    <td>{{subform.value}}</td>
                    <td>{{subform.type}}</td>
                    <td>{{subform.DELETE}}</td>
                    <td>{{subform.transform}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </div>
        <tfoot>
            <tr>
                <td> <button type="button" id="add-subform">Add Key-Value Pair</button></td>
                <td><button type="submit">Submit</button></td>
            </tr>
        </tfoot>
    </table>
</form>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const addButton = document.getElementById('add-subform');
        const formset = document.getElementById('formset');
        const TOTAL_FORMS = parseInt(document.getElementById('id_key_values-TOTAL_FORMS').value);
        let formIndex = TOTAL_FORMS;

        addButton.addEventListener('click', function () {
            const subform = document.createElement('tr');
            subform.classList.add('subform');
            subform.innerHTML = formset.querySelector('.subform').innerHTML;
            const inputs = subform.querySelectorAll("input", "select");
            console.log(inputs)

            inputs.forEach(input => {
                const newName = input.name.replace(/-\d+-/, `-${formIndex}-`);
                input.name = newName;
                input.value = '';
            });
            formset.appendChild(subform);
            formIndex++;
            document.getElementById('id_key_values-TOTAL_FORMS').value = formIndex;
        });
    });
</script>

{% endblock %}